@import "~sanitize.css/sanitize.css"

body
  font-family: "calluna", serif
  font-size: 18px
  line-height: 26px
  font-style: normal
  font-weight: 300
  background-color: #3C1781
  color: #DFCDFF
  padding-left: 30px
  padding-right: 30px

  @media (min-width: 480px)
    font-size: 22px
    line-height: 32px

  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-font-feature-settings: "liga" on

em
  font-style: normal
  font-weight: 700
  color: #FFF
  &.me
    color: #A7B911
a
  color: #FFF
  font-style: normal
  font-weight: 700
  text-decoration: none
  &:not(.social)
    border-bottom: 1px solid #5C5C5C
  &:hover
    border-color: #FFF

.content
  max-width: 792px
  margin-right: auto
  margin-left: auto
  margin-top: 100px
  @media (min-width: 480px)
    margin-top: 300px
.not_found
  text-align: center
  font-size: 40px
  @media (min-width: 480px)
    font-size: 90px
.social_icons
  display: inline-block
  padding-left: 3px
  padding-right: 4px
  a
    padding-right: 6px
    &:last-child
      padding-right: 0
    &:hover
      svg
        path
          fill: #BD8C11
  svg
    margin-top: -11px
    path
      transition: fill .1s linear
      fill: #DFCDFF

small
  color: #5C5C5C
  em
    color: #FFF