<header class="py-6">
  <nav class="flex justify-center gap-8">
    <%= link_to "Home", "/", class: "text-purple-light no-underline border-b border-transparent hover:border-purple-light transition-colors" %>
    <%= link_to "Articles", "/articles/", class: "text-purple-light no-underline border-b border-transparent hover:border-purple-light transition-colors" %>
  </nav>
</header>
