---
title: Michael Koper - Co-founder Nusii - Software Engineer
description: Michael Koper, a Dutch full-stack developer living in Madrid, Spain. Co-founder of Nusii, Online Proposal Software for Creative Businesses.

changefreq: "weekly"
priority: "1"
---

<p class="text-2xl mb-4">
  Hey! I'm <em class="font-bold font-normal text-lime">Michael Koper</em>. I'm building <a href="https://nusii.com" target="_blank" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Nusii</a>, a SaaS to create beautiful online proposals. I previously worked at <a href="https://cabify.com" target="_blank" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Cabify</a> as employee <em class="font-bold font-normal text-white">#1</em>.
</p>

<div class="flex items-center gap-2 text-lg text-gray-400 flex items-center">
  <span>
    Current projects: <a href="https://nusii.com" target="_blank" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Nusii</a>.
  </span>
  <span>
    Social:
  </span>
  <div class="flex gap-3 pt-2 items-center">
    <a href="https://twitter.com/michaelkoper" class="social-icon" target="_blank">
      <%= svg('social/twitter') %>
    </a>
    <a href="https://bsky.app/profile/michaelkoper.com" class="social-icon" target="_blank">
      <%= svg('social/bluesky') %>
    </a>
    <a href="https://github.com/michaelkoper" class="social-icon" target="_blank">
      <%= svg('social/github') %>
    </a>
  </div>
</div>
