---
title: Michael Koper - Co-founder Nusii - Software Engineer
description: Michael Koper, a Dutch full-stack developer living in Madrid, Spain. Co-founder of Nusii, Online Proposal Software for Creative Businesses.

changefreq: "weekly"
priority: "1"
---

<p>
  Hey! I'm <em class="font-bold font-normal text-lime">Michael Koper</em>. I'm building <a href="https://nusii.com" target="_blank" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Nusii</a>, a SaaS to create beautiful online proposals. I previously worked at <a href="https://cabify.com" target="_blank" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Cabify</a> as employee <em class="font-bold font-normal text-white">#1</em>.
</p>

<small class="text-gray-border">
  Current projects: <a href="https://nusii.com" target="_blank" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Nusii</a>, <a href="https://startupapart.transistor.fm/" class="font-bold text-white no-underline border-b border-gray-border hover:border-white transition-colors">Startup Apart</a>. Social: <div class="inline-block px-1">
    <a href="https://twitter.com/michaelkoper" class="social-icon pr-1.5" target="_blank">
      <%= svg('social/twitter') %>
    </a>
    <a href="https://github.com/michaelkoper" class="social-icon" target="_blank">
      <%= svg('social/github') %>
    </a>
  </div>
</small>
