---
title: Michael Koper - Co-founder Nusii - Software Engineer
description: Michael Koper, a Dutch full-stack developer living in Madrid, Spain. Co-founder of Nusii, Online Proposal Software for Creative Businesses.

changefreq: "weekly"
priority: "1"
---

<p>
  Hi! I'm <em class="me">Michael Koper</em>, a Dutch full-stack developer living in Madrid, Spain. With nearly a decade of experience I can take on anything you can dream up. I previously worked at <a href="https://cabify.com" target="_blank">Cabify</a> as employee <em>#1</em> and am now building <a href="https://nusii.com" target="_blank">Nusii</a>, a SaaS to create beautiful online proposals. And <a href="https://tinyreminder.com" target="_blank">Tiny Reminder</a>, a web application to collect content and files from unresponsive clients.
</p>

<small>
  Current projects: <a href="https://nusii.com" target="_blank">Nusii</a>, <a href="https://tinyreminder.com" target="_blank">Tiny Reminder</a>. Social: <div class="social_icons">
    <a href="https://twitter.com/michaelkoper" class="social" target="_blank">
      <%= svg('social/twitter') %>
    </a>
    <a href="https://github.com/michaelkoper" class="social" target="_blank">
      <%= svg('social/github') %>
    </a>
  </div> Please contact me: <a href="mailto:hello@michaelkoper.com">here</a>. <em class="smile">:-)</em>
</small>
