---
title: Michael Koper - Co-founder Nusii - Software Engineer
description: Michael Koper, a Dutch full-stack developer living in Madrid, Spain. Co-founder of Nusii, Online Proposal Software for Creative Businesses.

changefreq: "weekly"
priority: "1"
---

<p>
  Hey! I'm <em class="me">Michael Koper</em>. I'm building <a href="https://nusii.com" target="_blank">Nusii</a>, a SaaS to create beautiful online proposals. I previously worked at <a href="https://cabify.com" target="_blank">Cabify</a> as employee <em>#1</em>.
</p>

<small>
  Current projects: <a href="https://nusii.com" target="_blank">Nusii</a>, <a href="https://startupapart.transistor.fm/">Startup Apart</a>. Social: <div class="social_icons">
    <a href="https://twitter.com/michaelkoper" class="social" target="_blank">
      <%= svg('social/twitter') %>
    </a>
    <a href="https://github.com/michaelkoper" class="social" target="_blank">
      <%= svg('social/github') %>
    </a>
  </div>
</small>
